@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:500&display=swap');
body{
	font-size: large;
}
body{
	background-image: url("/static/images/cover1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
  }
  footer{
	margin-bottom: -10px;
  }

  nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
}


  h5{
	  color: white;
	  font-weight: bolder;
	  font-size: larger;
  }

  #portfolio, p{
	  color: white;
	  font-size: large;
  }

.navbar{
	text-align: center;
}
h1, h6{
	font-weight: bolder;

}
#profilepic{
	border-radius: 50%;
	width: 250px;
	height: 250px;
}
  #mouse-click {
	animation: bounce 3s infinite;
  }
  @keyframes bounce {
	0%, 20%, 50%, 50%, 50% {
	  transform: translateY(0);
	}
	40% {
	  transform: translateY(-15px);
	}
	60% {
	  transform: translateY(-15px);
	}
  }
  #mouse-click{
	padding-top : 2px;
	margin-top:8%;
	padding-bottom: 20px;

  }

  

h1 , h2{
  
    text-align: center;
  
}
.form-group .form-inline{
	margin: 5px 10px 5px 0;
  }
  
h2{
	font-size: larger;
}
ul{
	list-style: none;
	column-count: 2;
	margin: 3px 3px 3px 0;
	column-gap: 10px;
	
}
