{% extends 'base.html' %}
{% block content %}


<!--Contact-->
<div class="portfolio mt-5 pt-0 mb-5 pb-5" id="contact">
    <div class="container">
        <div class="section-heading text-center mt-5 mr-5">
            <div class="text-center">
               <p> I look forward to hearing from you on how we can collaborate to solve your business challenges or tell
                an effective software development story together.</p>
               <p>I'm also available for Full-time · Remote · Contract · Part-time · Internship · Temporary.</p> 
                <br>
                <h3 class="display-5">Contact Me</h3>
                <a style="color: white;" href="mailto:toopreston@gmail.com" target="_blank"> <i class="fa fa-envelope"></i> toopreston@gmail.com</a>
                <br><br>
                <a style="color: white;" href="tel:+254708375000"> <i class="fas fa-phone"></i> +254708375000</a>
            </div>
            <br>
            <div class="social text-center">
                <a href="https://github.com/Preston-Too/" target="_blank" style="color: white; padding: 5px;">
                    <i class="fab fa-github"></i>
                </a>

                <a href="https://www.linkedin.com/in/preston-too-3a72a5146/" target="_blank" style="color: white; padding: 5px;">
                    <i class="fab fa-linkedin-in"></i>
                </a>

                <a href="https://twitter.com/PrestonBlazer" target="_blank" style="color: white; padding: 5px;">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!--end of contact-->
</div>
</div>
{% endblock %}